<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2>Team Name: <%= @team_members[:name] %></h2>
   <p>Coach: <%= @team_members[:coach] %></p>
   <p>Point Guard: <%= @team_members[:pg] %></p>
   <p>Shooting Guard: <%= @team_members[:sg] %></p>
   <p>Small Forward: <%= @team_members[:sf] %></p>
   <p>Power Forward: <%= @team_members[:pf] %></p>
   <p>Center: <%= @team_members[:c] %></p>
 </body>
</html>
